version: "3.8"

services:
   
   mysql:
     image: mysql:8.0
     container_name: mysql
     restart: always
     environment:
       MYSQL_ROOT_PASSWORD: root
       MYSQL_DATABASE: employee_db
#store sql data inside container(/var/lib/mysql) in mysql_data(localcomputer)
     volumes:
      - mysql_data:/var/lib/mysql
     ports:
      - "3306:3306"

   backend:
     container_name: springboot-backend
     build:
       context: ./springboot-backend
     restart: always
     environment:
       SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/employee_db?useSSL=false&allowPublicKeyRetrieval=true
       SPRING_DATASOURCE_USERNAME: root
       SPRING_DATASOURCE_PASSWORD: root
       SPRING_JPA_HIBERNATE_DDL_AUTO: update
     ports:
       - "8080:8080"
     depends_on:
       - mysql

   frontend:
      container_name: react-frontend
      build:
        context: ./react-frontend
      restart: always
      ports:
        - "3000:80"
      depends_on:
        - backend

volumes:
  mysql_data:
